<!DOCTYPE html>
<html lang="en" data-ng-app="FileManagerApp">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>gofe</title>

  <script src="../static/jquery/jquery.min.js"></script><!--the order of jquery and angular, jquery must be in front-->
  <script src="../static/angular/angular.min.js"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>-->
  <script src="../static/angular-route/angular-route.min.js"></script>
  <script src="../static/angular-translate/angular-translate.min.js"></script>
  <script src="../static/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="../static/bootswatch/paper/bootstrap.min.css" rel="stylesheet">

  <link href="../static/angular-explorer.min.css" rel="stylesheet">
  <script src="../static/angular-explorer.min.js"></script>

  <script type="text/javascript">
    angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
      angular.lowercase = angular.$$lowercase;
      angular.uppercase = angular.$$uppercase;

      var defaults = config.$get();
      config.set({
        appName: 'User: {{.User}}',
        allowedActions: angular.extend(defaults.allowedActions, {
          upload: true,
          rename: true,
          move: true,
          copy: true,
          edit: true,
          changePermissions: true,
          compress: true,
          compressChooseName: true,
          extract: true,
          download: true,
          downloadMultiple: true,
          preview: true,
          remove: true,
          createFolder: true,
          pickFiles: false,
          pickFolders: false
        }),
        tplPath: "src/templates"
      });
    }]);
  </script>
</head>

<body class="ng-cloak">
  <angular-explorer></angular-explorer>
</body>

</html>
